*.a
objs/
exrcheck
#core/pbrtlex.cpp
#core/pbrtparse.cpp
#core/pbrtparse.h
#core/pbrtparse.output
*.old
*.ncb
*.user
win32/Projects/Debug/
win32/Projects/Release/
win32/UpgradeLog.XML
win32/_UpgradeReport_Files/
